@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=El+Messiri:wght@400..700&family=Moon+Dance&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-main-body: #D7E3FC;
    --color-main-header: #5C4D7D;
    --color-main-section: #C1D3FE;

    --color-primary-checkbox: #2E6F95;
    --color-segundary-checkbox: #5C4D7D;
    --color-tertiary-checkbox: #455E89;

    --color-primary-radio: #2E6F95;
    --color-segundary-radio: #0091AD;

    --color-primary-range: #2E6F95;
    --color-segundary-range: #892B64;
    --color-tertiary-range: #0091AD;

    --color-primary-mainButton: #2E6F95;
    --color-segundary-mainButton: #5C4D7D;

    --color-primary-buttonCopiar: #723C70;
    --color-segundary-buttonCopiar: #A01A58;

    --color-primary-buttonLimpar: #b7094c;
    --color-segundary-buttonLimpar: #a01a58;

    --color-primary-buttonOption : #0091AD;
    --color-segundary-buttonOption : #2E6F95;
    
    --color-primary-input : #2e6f9575;
    --color-segundary-input : #723C70;

    --color-primary-textarea: #C1D3FE;

    --color-primary-ferramenta: #2E6F95;
    --color-segundary-ferramenta: #723C70;

    /*--font-title: "Quattrocento Sans", serif;*/
    /*--font-title: "Courgette", cursive;*/
    /*--font-title:  "Moon Dance", cursive;*/
    --font-title: "Chivo", serif;

    --font-main: "Commissioner", sans-serif;
    /*--font-main: "El Messiri", sans-serif;*/
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--font-main);
}

#root, body {
    background-color: var(--color-main-body);
}

a {
    color: white;
    text-decoration: none;
}
header {
    background-color: var(--color-main-header);
    color: white;
}


#content {
    background-color: var(--color-main-section);
    padding: 1em 1.5em;

    width: 50%;
    font-size: 1.15em;
    border-radius: 4px;
}

#sec_header h2 {
    font-family: var(--font-title) !important;
}

main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 2em 1em;
    padding-bottom: 0px;
}

#row1 {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
}

#main_column1 {
    display: flex;
    justify-content: left;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_column3 {
    display: flex;
    justify-content: right;
    align-items: center;
}


#sec_header {
    font-family: var(--font-title);
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.6em;
    padding: .5em;
    padding-bottom: 1.5em;
}

#sec_body {
    display: grid;
    grid-template-rows: 1fr .5fr;
    row-gap:  1.5em;
    font-family:var(--font-main);
}

button, select {
    width: 110px;
    height: 40px;
    transition: .3s ease-in-out;
    font-family: var(--font-main);
    font-weight: bold;
    outline: none;
    margin: 0em .75em;
    padding: .5em .3em;
    border-radius: 4px;
    border: 2.5px solid black;
    cursor: pointer;
}

.btnMain {
    background-color: var(--color-primary-mainButton);
}

.btnMain:hover {
    background-color: var(--color-segundary-mainButton);
    border-radius: 4px;
    color: white;
    transform: scale(1.05);
}

.btnCopiar {
    border: 1px solid var(--color-primary-buttonCopiar);
    color: var(--color-segundary-buttonCopiar);
    background-color: transparent;
}

.btnCopiar:hover {
    background-color: var(--color-segundary-buttonCopiar);
    border-radius: 4px;
    color: black;
    transform: scale(1.05);
}

.btnLimpar {
    background-color: var(--color-primary-buttonLimpar);
}

.btnLimpar:hover {
    background-color: var(--color-segundary-buttonLimpar);
    transform: scale(1.05);
}

.btnOption, select {
    background-color: var(--color-primary-buttonOption);
}

.btnOption:hover {
    background-color: var(--color-segundary-buttonOption);
    transform: scale(1.01);
}

#row2_section {
    padding: 1.5em;
    border-top: 2px solid black;
}

