@media screen and (min-width: 450px) {
    
    body, #root {
        overflow-x: hidden;
        height: 100vh;
    }

    #root {
        display: grid;
        grid-template-rows: 5vh 95vh;
    } 

    /*Inicio da estilização do header*/

    header {
        display: flex;
        align-items: center;
        
        padding: 1.2em 10em;

        font-size: 1.5em;
        color: white;
        background-color: var(--color-main-header);
        border-bottom: 2px solid black;
        box-shadow: 1px 1px 1px black;
    }

    /*fim da estilização do header*/

    /*Inicio da estilização do main*/

    #content {
        padding: .5em;
    }

    #sec_body {
        row-gap: .5em;
    }

    #div_inputs input[type="number"], .outValues {
        width: 130px;
        height: 20px;
        text-align: center;
        transition: .3s ease-in-out;
        font-family: var(--font-main);
        font-weight: 900;
        outline: none;
        background-color: var(--color-primary-input);
        margin: 0em .75em;
        padding: .5em .3em;
        border-radius: 4px;
        border: 2px solid black;
    }

    #div_inputs option  {
        background-color: var(--color-segundary-buttonOption);
        color: white;
    }

    #div_inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 5em);
        justify-items: center;
        align-items: center;
        row-gap: 3em;
    }

    #div_inputs > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .divValores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div_periodo {
        display: none !important;
    }

    .tempoActive {
        display: flex !important;
        align-items: center;
        height: 50px;
        gap: 20px;
    }

    #div_tempo {
        display: flex;
        flex-direction: column;
    }

    #div_rdTempo label{
        margin: 1em;
    }

    #div_rdTempo input[type = "radio"] {
        appearance: none;

        border-radius: 50%;
        width: 16px;
        height: 16px;
      
        background-color: transparent;
        border: 2px solid var(--color-primary-radio);
        transition: .3s all ease-in-out;
        margin-right: 5px;
      
        position: relative;
        top: 4px;
    }

    #div_rdTempo input[type = "radio"]:checked {
        background-color: var(--color-segundary-radio);
    }

    #div_data  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #div_data input {
        background-color: var(--color-primary-input);
        border: 2px solid  black;
        border-radius: 5px; 
        padding: 5px;
        margin: 0px 20px;
    }

    #div_tipo {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
    

    #outValores {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2em 1.5em;
    }

    #outValores label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .outValues {
        background-color: rgba(128, 128, 128, 0.397);   
        color: black; 
    }
    /*fim da estilização do main*/
}
