@media screen and (max-width: 450px) {
    #root, body {
        width: 100%;
        height: 100vh;
    }

    header {
        border-bottom: 2px solid black;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #row1 {
        display: flex;
        flex-direction: column;
        gap: 3.5em;
        padding: 1.5em 0em;
        width: 100%;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1em 0em;
        background-color: white;
        border: .5px solid black;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.600);
        border-radius: 4px;
    }

    #sec_header {
        font-family: var(--font-title);
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 1.6em;
        padding: .5em;
        padding-bottom: 1.5em;
    }

    #sec_body {
        display: grid;
        grid-template-rows: 1fr .5fr;
        gap: 1.5em;
        font-family:var(--font-main);
    }

    #div_texarea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    #inTexto {
        width: 300px;
        height: 130px;
        padding: 1em .6em;
    }

    #textInfor {
        display: flex;
        gap: 7em;
    }

    #mensegeCopy {
        visibility: hidden;
        font-weight: bolder;
        border-bottom: 4px solid var(--color-main-header);
    }

    #div_options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
        row-gap: 1.5em;
    }

    #div_options button {
        width: 110px;
        height: 40px;
        font-family: var(--font-main);
        font-weight: 700;
        outline: none;
        margin: 0em .75em;
        padding: .5em .3em;
        border-radius: 4px;
        border: 2px solid black;
        cursor: pointer;
    }

    #btnOriginal {
        background-color: var(--color-primary-mainButton);
    }

    #btnOriginal:active {
        background-color: var(--color-segundary-mainButton);
        color: white;
        transform: scale(1.025);
    }

    #btnLimpar {
        background-color: var(--color-primary-buttonLimpar);
    }

    #btnLimpar:active {
        background-color: var(--color-segundary-buttonLimpar);
        transform: scale(1.025);
    }

    #btnCopiar {
        border-color: var(--color-primary-buttonCopiar) !important; 
        color: var(--color-primary-buttonCopiar);
        background-color: transparent;
    }


    #btnCopiar:active {
        background-color: var(--color-segundary-buttonCopiar);
        color: black;
        transform: scale(1.025);
    }

    .btnOption {
        background-color: var(--color-primary-buttonOption);
    }
    
    .btnOption:active {
        background-color: var(--color-segundary-buttonOption);
        transform: scale(1.01);
    }

    #div_options .slcOption {
        width: 150px;
        height: 40px;
        font-family: var(--font-main);
        font-weight: 700;
        outline: none;
        background-color: var(--color-primary-buttonOption);
        margin: 0em .75em;
        padding: .5em .3em;
        border-radius: 4px;
        border: 2px solid black;
        cursor: pointer;
    }

    .slcOption:active {
        background-color: var(--color-segundary-buttonOption) !important;
    }

    #row2 {
        display: none;
    }
}