@media screen and (min-width : 450px) {
        
    body, #root {
        overflow-x: hidden;
        
    }

    a {
        color: black;
    }

    /*Inicio da estilização do header*/

    header {
        display: flex;
        align-items: center;
        
        padding: 1.2em 10em;

        font-size: 1.5em;
        color: white;
        background-color: var(--color-main-header);
        border-bottom: 2px solid black;
        box-shadow: 1px 1px 1px black;
    }

    /*fim da estilização do header*/

    /*Inicio da estilização do main*/
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 0em;
    }

    #row1 {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: .5fr 1fr .5fr;
    }

    #content {
        border: .5px solid black;
        background-color: var(--color-main-section);
        padding: 1em 1.5em;


        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.600);

        width: 100%;
        
        font-size: 1.15em;
        border-radius: 4px;

        font-size: 1.15em;
        font-family:var(--font-main);
    }

    #sec_header {
        font-family: var(--font-title);
        border-bottom: 1px solid black;
        font-size: 1.6em;
    }
    
    #sec_body {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2em;
        padding: 3em 2em;
    }

    .div_ferrameta {
        padding: .5em;
    }

    @keyframes  ferramentaHover {
        from {
            background-color: var(--color-segundary-ferramenta);
            box-shadow: 0px 0px var(--color-primary-ferramenta);
        }
        to {
            background-color: var(--color-segundary-ferramenta);
            box-shadow: 10px 7px var(--color-primary-ferramenta);
        }
    }

    @keyframes  ferramentaNotHover {
        from {
            background-color: var(--color-primary-ferramenta);
            box-shadow: 0px 0px var(--color-segundary-ferramenta);
        }
        
        to {
            background-color: var(--color-primary-ferramenta);
            box-shadow: 10px 7px var(--color-segundary-ferramenta);
        }
    }

    .ferramenta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        border: .4em solid black;
        border-radius: 4px;
        background-color: var(--color-primary-ferramenta);
        box-shadow: 10px 7px var(--color-segundary-ferramenta);
        cursor: pointer;

        width: 300px;
        height: 125px;
        padding: .5em;
        gap: .3em;

    }

    .ferramenta:hover {
        animation: ferramentaHover forwards .5s ease-in-out;
    }
    
    
    .ferramenta:not(:hover) {
        animation: ferramentaNotHover  .5s ease-in-out;
    }    

}