@media screen and (max-width: 450px) {
    #root, body {
        width: 100%;
        height: 100vh;
    }

    header {
        border-bottom: 2px solid black;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #row1 {
        display: flex;
        flex-direction: column;
        gap: 3.5em;
        padding: 1.5em 0em;
        width: 100%;
    }

    .main_ad {
        display: inline-flex !important;
        justify-content: center;
    }

    .main_ad img {
        width: 350px;
        height: 150px;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 0em;
        background-color: white;
        border: .5px solid black;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.600);
        border-radius: 4px;
    }

    #sec_header {
        font-family: var(--font-title);
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 1.6em;
        padding: .5em;
        padding-bottom: 1.5em;
    }

    #sec_body {
        display: grid;
        grid-template-rows: 1fr .5fr;
        gap: 1.5em;
        font-family:var(--font-main);
    }

    #options_pass {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4em;        
    }

    #div_check {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 2em;
    }

    .check {
        display: inline-block;
        vertical-align: middle;
    }

    .check input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .check label {
        position: relative;
        padding-left: 2.2em;
        display: inline-block;
    }

    .check label::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 1.5em;
        width: 1.5em;
        background: var(--color-primary-checkbox);
        margin-right: 0.5em;
        border: 1px solid #999;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
        transition: all 0.2s ease;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }

    .check label::after {
        content: "\2713";
        position: absolute;
        top: 50%;
        left: 0.75em;
        transform: translate(-50%, -50%);
        font-size: 1em;
        color: #FFF;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .check label:focus::before, .check label:hover::before {
        background: var(--color-tertiary-checkbox);
    }

    .check input:checked + label::before {
        background: var(--color-segundary-checkbox);
        border-color: var(--color-tertiary-checkbox);
    }

    .check input:checked + label::after {
        opacity: 1;
    }
 
    #row2_options #div_caracteres {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1.5em;
    }

    #div_range {
        display: grid;
        grid-template-columns: 100% 15px;
        align-items: center;
    }   

    #rnCaracteres {
        -webkit-appearance: none;
        border: none;
        width: 250px;
        height: 20px;
        background  : linear-gradient(to right,  var(--color-primary-range), var(--color-segundary-range));
        border-radius: 20px;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
    }

    #rnCaracteres::-webkit-slider-thumb{
        -webkit-appearance: none;
        border: none;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        background: linear-gradient(120deg,   var(--color-segundary-range), var(--color-primary-range), var(--color-tertiary-range));
    }

    #rnCaracteres::-moz-range-thumb{
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: linear-gradient(120deg,   var(--color-tertiary-range), var(--color-primary-range), var(--color-segundary-range));
    }

    #rnCaracteres::-ms-range-thumb{ 
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: linear-gradient(120deg,   var(--color-tertiary-range), var(--color-primary-range), var(--color-segundary-range));
    }
    

    #div_caracteres {
        row-gap: 2em !important;
    }

    #div_response {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em !important;
        padding: 2em 0em;
    }

    #btn_response {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5em;
    }

    #btn_response button {
        /*width: 120px; */
        /*height: 45px; */

        width: 100px; 
        height: 40px; 
        font-size: .8em;

        transition: .1s ease-in-out;
        font-family: var(--font-main);
        font-weight: bold;
        outline: none;
        border-radius: 4px;
    }

    #btnGerar {
        border: 1px solid black;
        background-color: var(--color-primary-mainButton);
    }

    #btnCopiar {
        border: 1px solid var(--color-primary-mainButton);
        color: var(--color-primary-buttonCopiar);
        background-color: transparent;
    }
    
    #btnGerar:hover, #btnCopiar:hover {
        
    }  

    #btnGerar:active {
        background-color: var(--color-segundary-mainButton);
        border-radius: 4px;
        color: white;
        transform: scale(1.05); 
    }

    #btnCopiar:active {
        background-color: var(--color-segundary-mainButton);
        border-radius: 4px;
        color: black;
        transform: scale(1.05);
    }
    
    #outResponse {
        text-align: center;
        width: 25em;
        height: 7em;
        outline: none;
        border-radius: 10px;
    }

    #mensegeCopy {
        visibility: hidden;
        font-weight: bolder;
        border-bottom: 4px solid var(--color-main-header);
    }

    #row2 {
        display: none;
    }
}