@media screen and (min-width: 450px) {
    
    body, #root {
        overflow-x: hidden;
        height: 100vh;
    }

    #root {
        display: grid;
        grid-template-rows: 5vh 95vh;
    } 

    /*Inicio da estilização do header*/

    header {
        display: flex;
        align-items: center;
        
        padding: 1.2em 10em;

        font-size: 1.5em;
        color: white;
        background-color: var(--color-main-header);
        border-bottom: 2px solid black;
        box-shadow: 1px 1px 1px black;
    }

    /*fim da estilização do header*/

    /*Inicio da estilização do main*/


    #sec_header {
        font-family: var(--font-title);
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 1.6em;
        padding: .5em;
        padding-bottom: 1.5em;
    }

    #row1_section #options_pass {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2em;
        padding: 1em;
    }

    #row1_options #div_check {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        justify-items: center;
    }

    .check {
        display: inline-block;
        vertical-align: middle;
    }

    .check input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .check label {
        position: relative;
        padding-left: 2.2em;
        display: inline-block;
    }

    .check label::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 1.5em;
        width: 1.5em;
        background: var(--color-primary-checkbox);
        margin-right: 0.5em;
        border: 1px solid #999;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
        transition: all 0.2s ease;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }

    .check label::after {
        content: "\2713";
        position: absolute;
        top: 50%;
        left: 0.75em;
        transform: translate(-50%, -50%);
        font-size: 1em;
        color: #FFF;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .check label:focus::before, .check label:hover::before {
        background: var(--color-tertiary-checkbox);
    }

    .check input:checked + label::before {
        background: var(--color-segundary-checkbox);
        border-color: var(--color-tertiary-checkbox);
    }

    .check input:checked + label::after {
        opacity: 1;
    }

    #row2_options #div_caracteres {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }

    #div_range {
        display: grid;
        grid-template-columns: 100% 30px;
        align-items: center;
    }

    #rnCaracteres{  
        -webkit-appearance: none;
        border: none;
        width: 300px;
        height: 10px;
        background  : linear-gradient(to right,  var(--color-segundary-range), var(--color-tertiary-range));
        border-radius: 20px;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
    }

    #rnCaracteres::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        background: linear-gradient(120deg, var(--color-tertiary-range), var(--color-primary-range), var(--color-segundary-range));
        
    }

    #rnCaracteres::-moz-range-thumb {  
        border: none;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        background: linear-gradient(120deg,   var(--color-tertiary-range), var(--color-primary-range), var(--color-segundary-range));
    }
    

    #rnCaracteres::-ms-range-thumb {
        border: none;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        background: linear-gradient(120deg,   var(--color-tertiary-range), var(--color-primary-range), var(--color-segundary-range));
    }
    

    #rnCaracteres:focus {
        outline: none;
    }


    #rnCaracteres:hover {
        filter: brightness(100%);
    }

    #row2_section #div_response {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    #btn_response {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #outResponse {
        width: 800px;
        height: 100px;
        padding: 5px;
        text-align: center;

        border: 2px solid black;
        background-color: var(--color-primary-textarea);
        font-size: 1.15em;

        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }

    #mensegeCopy {
        visibility: hidden;
        font-weight: bolder;
        border-bottom: 4px solid    var(--color-main-header);
    }

    #row2 {
        display: flex;
        justify-content: center;
        align-items: end;
    }
    /*fim da estilização do main*/
}